[submodule "apex_dma/lib/memflow"]
	path = apex_dma/lib/memflow
	url = https://github.com/memflow/memflow
[submodule "apex_dma/lib/memflow-qemu"]
	path = apex_dma/lib/memflow-qemu
	url = https://github.com/memflow/memflow-qemu
[submodule "apex_dma/Client/glfw"]
	path = apex_dma/Client/glfw
	url = https://github.com/glfw/glfw
[submodule "apex_dma/Client/imgui"]
	path = apex_dma/Client/imgui
	url = https://github.com/ocornut/imgui
[submodule "apex_dma/lib/memflow-win32"]
	path = apex_dma/lib/memflow-win32
	url = https://github.com/memflow/memflow-win32
[submodule "apex_dma/lib/memflow-kvm"]
	path = apex_dma/lib/memflow-kvm
	url = https://github.com/memflow/memflow-kvm
