# This starter workflow is for a CMake project running on multiple platforms. There is a different starter workflow if you just want a single platform.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: CI

on:
  push:
    branches: [ "next" ]
  pull_request:
    branches: [ "next" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      # Set fail-fast to false to ensure that feedback is delivered for all matrix combinations. Consider changing this to true when your workflow is stable.
      fail-fast: false

      # Set up a matrix to run the following 3 configurations:
      # 1. <Windows, Release, latest MSVC compiler toolchain on the default runner image, default generator>
      # 2. <Linux, Release, latest GCC compiler toolchain on the default runner image, default generator>
      # 3. <Linux, Release, latest Clang compiler toolchain on the default runner image, default generator>
      #
      # To add more build types (Release, Debug, RelWithDebInfo, etc.) customize the build_type list.
      matrix:
        os: [ubuntu-latest, windows-latest]
        build_type: [Release]
        c_compiler: [clang, cl]
        include:
          - os: windows-latest
            c_compiler: cl
            cpp_compiler: cl
            arch-name: x86_64-pc-windows-msvc
            target: x86_64-pc-windows-msvc
            bin-prefix:
            bin-ext: .exe
            lib-prefix:
            lib-ext: .dll
          - os: ubuntu-latest
            c_compiler: clang
            cpp_compiler: clang++
            arch-name: x86_64-unknown-linux-gnu
            target: x86_64-unknown-linux-gnu
            bin-prefix:
            bin-ext:
            lib-prefix: lib
            lib-ext: .so
        exclude:
          - os: windows-latest
            c_compiler: clang
          - os: ubuntu-latest
            c_compiler: cl

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - run: rustup default nightly

    - name: Install dependencies (Ubuntu)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt update
        sudo apt install libusb-1.0-0-dev libzstd-dev pkg-config libx11-dev libasound2-dev libudev-dev libxkbcommon-x11-0 libwayland-dev libxkbcommon-dev

    - name: Install dependencies (Windows)
      if: matrix.os == 'windows-latest'
      run: |
        git clone https://github.com/Microsoft/vcpkg.git
        cd vcpkg
        .\bootstrap-vcpkg.bat
        .\vcpkg integrate install
        .\vcpkg install zstd:x64-windows

    - name: Install Protoc
      uses: arduino/setup-protoc@v3

    - name: Set reusable strings
      # Turn repeated input strings (such as the build output directory) into step outputs. These step outputs can be used throughout the workflow file.
      id: strings
      shell: bash
      run: |
        echo "build-output-dir=${{ github.workspace }}/build" >> "$GITHUB_OUTPUT"
        echo "sha_short=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_OUTPUT

    - name: Build
      run: cd apexsky && cargo build --release --target ${{ matrix.target }}

    - name: Build Overlay
      run: cd apexsky/apexsky_overlay && cargo build --release --target ${{ matrix.target }}

    - name: Build Packer
      run: cd apexsky/apexsky_extension && cargo build --bin apexsky_extension_packer --release --target ${{ matrix.target }}

    # - name: Test
    #   working-directory: ${{ steps.strings.outputs.build-output-dir }}
    #   # Execute tests defined by the CMake configuration. Note that --build-config is needed because the default Windows generator is a multi-config generator (Visual Studio generator).
    #   # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
    #   run: ctest --build-config ${{ matrix.build_type }}
    
    # - name: Archive output artifacts
    #   uses: actions/upload-artifact@v4
    #   if: always()
    #   with:
    #     name: output-${{ matrix.arch-name }}
    #     path: |
    #       apexsky/target/${{ matrix.target }}/release
    #     retention-days: 2
    
    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: apexsky_dma_${{ steps.strings.outputs.sha_short }}_b${{ github.run_number }}-${{ matrix.arch-name }}
        path: |
          apexsky/target/${{ matrix.target }}/release/${{ matrix.bin-prefix }}apexsky_dma${{ matrix.bin-ext }}
          apexsky/target/${{ matrix.target }}/release/${{ matrix.bin-prefix }}apexsky_overlay${{ matrix.bin-ext }}
          apexsky/target/${{ matrix.target }}/release/${{ matrix.bin-prefix }}apexsky_extension_packer${{ matrix.bin-ext }}
        retention-days: 5

